.eventsPrograms {
    h1 {
        position: relative;
        left: 50%;
        transform: translateX(-50%)
    }
    .container {
        display: block;
    }
    img {
        max-width: 50%;
        height: 22em;
        padding: 1em;
    }
    .soccerClubImg {
        text-align: center;
    }
    .rmf {
        h4 {
            border-bottom: 2px solid #ffc266;
            margin-left: 1em;
            display: inline-block;
        }

        ul {
            padding-left: 1em;
        }

        li {
            padding: 1em 0;
        }
    }
    .soccerPlayerNames {
        width: 50vw;
        display: flex;
        justify-content: space-around;
        border-bottom: 1px solid gray;
        padding-bottom: 1em;
            label {
               width: 30%; 
            }
    }
}