.navbar {
    display: flex;
    position: fixed !important;
    align-items: center;
    justify-content: space-around;
    padding: 0.5em 0;
    box-shadow: 0px 10px 5px 0px rgba(30,30,30,0.25);
    z-index: 10;
    width: 99.9%;
    background: #fff;
}

.navbarHidden {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0.5em 0;
    box-shadow: 0px 10px 5px 0px rgba(30,30,30,0.25);
    position: fixed;
    z-index: 10;
    width: 99.9%;
    background: #fff;
}

.logo {
    margin: 0;
}

.navLinks {
    display: flex;
    justify-content: space-around;
    a {
        padding: 0 1em;
        transition: 0.3s;
    }
    li {
        color: #1e1e1e;
    }
}

.navLinks a:hover {
    transform: scale(1.05);
}

.subNavLinks{
    display: none;
    width: 100%;
    background-color: rgb(255, 169, 56);
    color: #fff;  
    z-index: 10;
        a {
            color: #fff;
            text-decoration: none;
            display: block;
        }
}

.subNavLinks a:hover {
    background-color: rgb(219, 133, 22);
    color: #fff;
}

.navLinks a:hover .subNavLinks{
    display: block;
}

button {
    border-radius: 50px;
    background: rgb(255, 169, 56);
    color: #fff;
    padding: 0.3em 1em;
    font-size: 1.5em;
}

.hamburgerIcon {
    background: url('/assets/icons/hamburgerIcon.svg') no-repeat #fff;
    padding: 20px;
    float: right;
    display: none;
    z-index: 10;
}

.xHamIcon {
    position: absolute;
    top: 5%;
    right: 5%;
    display: none;
    font-size: 1.5em;
}

.languageBox {
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 10;
    font-size: 0.8em;
        button {
            margin: 0.5em;
        }
        a {
            color: #fff;
        }
}