.contact {
    text-align: center;
    background: rgb(255, 169, 56);;
        .imgBox {
            justify-content: center;
        }
        h1, h2 {
            border-bottom: 1px solid #1e1e1e;
        }
}

i {
    font-size: 3em;
    padding: 0 1em;
    transition: 0.3s;
}

i:hover {
    transform: scale(1.3);
}

