@mixin respond-to($breakpoint) {
    @if $breakpoint=='mobile' {
        @media (max-width:1020px) {
            @content;
        }
    }
    @else if $breakpoint=='medium' {
        @media (max-width:1208px) {
            @content;
        }
    }
}

@include respond-to ('mobile') {
    .container {
        display: block;
            img {
                display: block;
                max-width: 100%;
            }
    }
    .slideOne, .slideTwo, .slideThree, .slideFour, .slideFive {
        background-size: contain;
        background-position: center;
        height: 40vh;
        width: 100vw;
    }
}

@include respond-to('medium') {
    .container {
        flex-direction: column;
            .textBox {
                width: 100%;
            }
            img {
                display: block;
                max-width: 100%;
            }
    }
    .bioBox {
        width: 100%;
    }
    .navbar {
        flex-direction: column;
        text-align: left;
        // width: 70%;
        position: relative;
            li {
                padding: 0.5em 0;
            }
    }
    .navLinks {
        flex-direction: column;
    }
    .navbarHidden {
        display: none;
        position: fixed;
    }
    .hamburgerIcon {
        display: block;
        position: fixed;
        right: 0;
    }
    .xHamIcon {
        display: block;
        cursor: pointer;
    }

    h3 {
        font-size: 1.5em;
    }
    .media img {
        max-width: 100% !important;
    }
}