.navbar {
  display: flex;
  position: fixed !important;
  align-items: center;
  justify-content: space-around;
  padding: 0.5em 0;
  box-shadow: 0px 10px 5px 0px rgba(30, 30, 30, 0.25);
  z-index: 10;
  width: 99.9%;
  background: #fff; }

.navbarHidden {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.5em 0;
  box-shadow: 0px 10px 5px 0px rgba(30, 30, 30, 0.25);
  position: fixed;
  z-index: 10;
  width: 99.9%;
  background: #fff; }

.logo {
  margin: 0; }

.navLinks {
  display: flex;
  justify-content: space-around; }
  .navLinks a {
    padding: 0 1em;
    transition: 0.3s; }
  .navLinks li {
    color: #1e1e1e; }

.navLinks a:hover {
  transform: scale(1.05); }

.subNavLinks {
  display: none;
  width: 100%;
  background-color: #ffa938;
  color: #fff;
  z-index: 10; }
  .subNavLinks a {
    color: #fff;
    text-decoration: none;
    display: block; }

.subNavLinks a:hover {
  background-color: #db8516;
  color: #fff; }

.navLinks a:hover .subNavLinks {
  display: block; }

button {
  border-radius: 50px;
  background: #ffa938;
  color: #fff;
  padding: 0.3em 1em;
  font-size: 1.5em; }

.hamburgerIcon {
  background: url("/assets/icons/hamburgerIcon.svg") no-repeat #fff;
  padding: 20px;
  float: right;
  display: none;
  z-index: 10; }

.xHamIcon {
  position: absolute;
  top: 5%;
  right: 5%;
  display: none;
  font-size: 1.5em; }

.languageBox {
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 10;
  font-size: 0.8em; }
  .languageBox button {
    margin: 0.5em; }
  .languageBox a {
    color: #fff; }

.logo-slide {
  height: 80vh;
  position: relative; }

.slideOne {
  background: url("/assets/images/logo.png");
  background-repeat: no-repeat;
  background-position: center; }

.slideTwo {
  background: url("/assets/images/communityOne.jpg");
  background-repeat: no-repeat;
  background-size: cover; }

.slideThree {
  background: url("/assets/images/communityTwo.jpg");
  background-repeat: no-repeat;
  background-size: cover; }

.slideFour {
  background: url("/assets/images/Haiti.jpg");
  background-repeat: no-repeat;
  background-size: cover; }

.slideFive {
  background: url("/assets/images/rencontre.jpg");
  background-repeat: no-repeat;
  background-size: cover; }

h3 {
  text-align: center;
  font-size: 1.5em;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(transparent, black);
  color: #fff;
  width: 99vw;
  padding-top: 10vh;
  padding-bottom: 5vh;
  font-size: 2em;
  font-weight: 300; }

.carousel {
  padding-top: 8em; }

#home p {
  padding: 0 8em;
  text-align: center;
  color: #fff;
  background: #ffa938; }

.about {
  text-align: center; }

p {
  line-height: 2.5; }

.bioBox {
  width: 30%; }
  .bioBox p {
    text-align: left;
    line-height: 2;
    font-size: 0.9em; }

#team .wrapper {
  text-align: center; }

#teamFr {
  text-align: center; }

.bioImg {
  padding: 8em;
  margin: 2em 0; }

.bioImgOne {
  background: url("/assets/images/bioImages/aFontaine.png") no-repeat center;
  background-size: contain; }

.bioImgTwo {
  background: url("/assets/images/bioImages/cSullivan.png") no-repeat center;
  background-size: contain; }

.bioImgThree {
  background: url("/assets/images/bioImages/jMandoko.png") no-repeat center;
  background-size: contain; }

.bioImgFour {
  background: url("/assets/images/bioImages/eFrancois.png") no-repeat center;
  background-size: contain; }

.bioImgFive {
  background: url("/assets/images/bioImages/aKorn.png") no-repeat center;
  background-size: contain; }

.bioImgSix {
  background: url("/assets/images/bioImages/cSmith.png") no-repeat center;
  background-size: contain; }

.bioImgSeven {
  background: url("/assets/images/bioImages/fLindor.png") no-repeat center;
  background-size: contain; }

.hidden {
  display: none; }

.block {
  display: block; }

.bioBox button {
  padding: 0.3em 0.5em;
  font-size: 1.2em;
  margin: 0.5em 0; }

.bioBox {
  margin: 0 auto;
  display: block; }

.sponsor {
  text-align: center; }

.sponsorLogo {
  padding: 6em;
  margin: 0 1em; }

.sLogoOne {
  background: url("/assets/images/canadaLogo.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat; }

.sLogoTwo {
  background: url("/assets/images/afo.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat; }

.sLogoThree {
  background: url("/assets/images/consulates.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat; }

.sLogoFour {
  background: url("/assets/images/ericPierre.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat; }

.sLogoFive {
  background: url("/assets/images/perleDesAntilles.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat; }

.sLogoSix {
  background: url("/assets/images/reseauDeSoutien.jpeg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat; }

.communitySponsors {
  line-height: 2.5; }

.sponsor button {
  background: #fff;
  color: #fc9208; }

.sponsor h1 {
  display: inline-block;
  line-height: 2; }

.contact {
  text-align: center;
  background: #ffa938; }
  .contact .imgBox {
    justify-content: center; }
  .contact h1, .contact h2 {
    border-bottom: 1px solid #1e1e1e; }

i {
  font-size: 3em;
  padding: 0 1em;
  transition: 0.3s; }

i:hover {
  transform: scale(1.3); }

.eventsPrograms h1 {
  position: relative;
  left: 50%;
  transform: translateX(-50%); }

.eventsPrograms .container {
  display: block; }

.eventsPrograms img {
  max-width: 50%;
  height: 22em;
  padding: 1em; }

.eventsPrograms .soccerClubImg {
  text-align: center; }

.eventsPrograms .rmf h4 {
  border-bottom: 2px solid #ffc266;
  margin-left: 1em;
  display: inline-block; }

.eventsPrograms .rmf ul {
  padding-left: 1em; }

.eventsPrograms .rmf li {
  padding: 1em 0; }

.eventsPrograms .soccerPlayerNames {
  width: 50vw;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid gray;
  padding-bottom: 1em; }
  .eventsPrograms .soccerPlayerNames label {
    width: 30%; }

.media {
  text-align: center; }
  .media img {
    max-width: 50%;
    height: 22em;
    padding: 1em; }

@media (max-width: 1020px) {
  .container {
    display: block; }
    .container img {
      display: block;
      max-width: 100%; }
  .slideOne, .slideTwo, .slideThree, .slideFour, .slideFive {
    background-size: contain;
    background-position: center;
    height: 40vh;
    width: 100vw; } }

@media (max-width: 1208px) {
  .container {
    flex-direction: column; }
    .container .textBox {
      width: 100%; }
    .container img {
      display: block;
      max-width: 100%; }
  .bioBox {
    width: 100%; }
  .navbar {
    flex-direction: column;
    text-align: left;
    position: relative; }
    .navbar li {
      padding: 0.5em 0; }
  .navLinks {
    flex-direction: column; }
  .navbarHidden {
    display: none;
    position: fixed; }
  .hamburgerIcon {
    display: block;
    position: fixed;
    right: 0; }
  .xHamIcon {
    display: block;
    cursor: pointer; }
  h3 {
    font-size: 1.5em; }
  .media img {
    max-width: 100% !important; } }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif; }

.wrapper {
  max-width: 90vw;
  margin: 0 auto;
  display: block;
  padding-left: 2em;
  padding-right: 2em;
  position: relative; }

.logo {
  width: 100px;
  height: 100px; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  color: #1e1e1e; }

section {
  padding: 2em 0; }

h1 {
  font-size: 3.5em;
  font-weight: 300;
  margin: 1.2em auto 1em auto;
  letter-spacing: 0.1em;
  border-bottom: 2px solid #ffc266;
  display: inline-block;
  line-height: 2; }

h2 {
  font-size: 2em;
  margin: 1em 0;
  border-bottom: 2px solid #ffc266;
  display: inline-block; }

button {
  transition: 0.3s; }

button:focus {
  outline: none; }

button:hover {
  transform: scale(1.05);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.container {
  display: flex;
  justify-content: space-around; }

.textBox {
  text-align: center;
  width: 30%;
  border: 2px solid #ffc266;
  padding: 2em;
  border-radius: 20px; }
  .textBox ul {
    list-style: initial;
    text-align: left; }

.imgBox {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }

.spaceAround {
  justify-content: space-around; }
